<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://api.nuget.org/v3/index.json" />
    <!-- Connect-specific entries -->
    <!-- Connect_PushSymbols:
           nugetrake checks for this and if value is "true" then it publishes symbol packages;
           otherwise (key missing or value other than "true"), binary-only packages are published;
           "true" requires the DefaultPushSource to be a ProGet feed with Symbol Server support enabled,
           with the "strip symbol files" option turned on -->
    <add key="Connect_PushSymbols" value="true" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org proxy" value="http://gda-packages.ihs.internal.corp/nuget/nuget.org/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
